[submodule "a-trade-microservice-template"]
	path = a-trade-microservice-template
	url = git@github.com:adrian1703/a-trade-microservice-template.git
[submodule "a-trade-shared-resources"]
	path = a-trade-shared-resources
	url = git@github.com:adrian1703/a-trade-shared-resources.git
